body {
  //border: 2px solid red;
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  margin-top: 30px;
  width:  1600px;
  height: 100%;
  position: relative;
  //padding: 0 20px;
  //border: 2px solid blue;
  @include breakpoint($mobile) {
    padding: 0 20px;
  }

  &__content {
    width: 1400px;
    margin: 40px auto;
    //border: 2px solid green;
  }

  &__sidebar {
    width: 300px;
  }
}

footer {
  margin: 0 auto;
  width: 100%;
  height: auto;
}

//ul, ol, li {
//  list-style: none;
//}
